/* navigation css */

.navbar {
    background-color: #28a745;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    height: 160px;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-right: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: larger;
    transition: color 0.4ms;
}

.nav-links a:hover {
    color: #000000;
    border-bottom: 3px solid rgb(0, 0, 0) ;
}


/* The css for titles  */

h1 {
    text-align: center;
    margin: 20px 0 30px;
}

.section-title{
    text-align: center;
    font-size: 1.6rem;
    margin: 40px 0 30px;
}

/* Pictures css */

/* (the class movie grid (container)) - (contains everything in a movie tablet, movie name, and image)) */

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 20px;
    padding: 0 20px 30px;
}

/* each individual movie card */

.movie-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.movie-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

.movie-card p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
}
 

/* Css for the Form */
#bookingform {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#bookingform label{
    font-weight: bold;
}

#bookingform input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#bookingform button {
    margin-top: 8px;
    padding: 10px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#bookingform button:hover {
    background-color: #218838;
}

/* cart table styling */

.ticket-table {
    width: 90%;
    margin: 0 auto 30px;
    border-collapse: collapse;
    text-align: center;
}

.ticket-header {
    background-color: #f2f2f2;
}

.ticket-table th,
.ticket-table td {
    border: 1px solid #ccc;
    padding: 10px;
}

.total-label {
    text-align: right;
    font-weight: bold;
    padding: 10px;
}

#grand-total {
    font-weight: bold;
    padding: 10px;
}

.checkout-button {
    text-align: center;
    margin-bottom: 40px;
}

.checkout-button button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

/* checkout css - starts here */

#checkout-form {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#checkout-form label {
    font-weight: bold;
}

#checkout-form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#checkout-form button {
    margin-top: 10px;
    padding: 12px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-form button:hover {
    background-color: #218838;
}

/* checkout page - cart table css (since most 
of the css is already done in the previous index page code,
here there will only be the relevent new css) */

#checkout-grand-total {
    font-weight: bold;
    padding: 10px;
}